<div class="container-fluid">
  <div class="row lakers-headline">
    Los Angeles Lakers
  </div>
</div>

<div class="container-fluid" ng-controller="LakersHomeCtrl">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Official Site</div>
      <div ng-repeat="story in official | orderBy: '-published' | limitTo: 14">
        <div class="story">
          <a href="{{story.url}}" title="{{story.summary}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">ESPN</div>
      <div ng-repeat="story in espn | orderBy: '-published' | limitTo: 13">
        <div class="story">
          <a href="{{story.url}}" title="{{story.summary}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Los Angeles Times</div>
      <div ng-repeat="story in latimes | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" title="{{story.summary}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Orange County Register</div>
      <div ng-repeat="story in ocregister | orderBy: '-published' | limitTo: 11">
        <div class="story">
          <a href="{{story.url}}" title="{{story.summary}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Twitter and Instagram -->
  <div class="row">
    <div class="col-sm-6 col-md-6" ng-controller="LakersTweetsCtrl" >
      <div class="team-header">
        <i class="fa fa-twitter"></i>
        <a href="http://twitter.com/lakers" target="blank"> Twitter Feed</a>
      </div>
      <div ng-repeat="tweet in tweets |  filter: searchTweet | limitTo: 10">
        <p class="story">
          <a href="http://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}" target="blank">{{tweet.user.screen_name}}: {{tweet.text}}</a>
          <span class="source">({{tweet.created_at | date: 'short'}})</span>
        </p>
      </div>
    </div>

    <div class="col-sm-6 col-md-6" ng-controller="LakersInstagramCtrl" >
      <div class="team-header">
        <i class="fa fa-instagram"></i>
        <a href="http://instagram.com/lakers" target="blank"> Instagram Feed</a>
      </div>
      <div ng-repeat="image in instagram | limitTo: 10">
        <p class="instagram">
          <a href="{{image.link}}" target="blank"><img src="{{image.images.thumbnail.url}}" alt="{{image.caption.text}}" title="{{image.caption.text}}"></a>
        </p>
      </div>
    </div>
  </div>
  <!-- End Twitter and Instagram -->

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Daily News</div>
      <div ng-repeat="story in dailynews | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" title="{{story.summary}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">CBS Los Angeles</div>
      <div ng-repeat="story in cbs | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" title="{{story.summary}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Bleacher Report</div>
      <div ng-repeat="story in bleacher_report | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" title="{{story.summary}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Inside The Lakers</div>
      <div ng-repeat="story in inside_the_lakers | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" title="{{story.summary}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Tumblr -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" ng-controller="LakersTumblrCtrl" >
      <div class="team-header">
        <i class="fa fa-tumblr"></i> 
        <a href="http://lakers.tumblr.com" target="blank"> Tumblr Feed</a>
      </div>
      <div ng-repeat="image in tumblr.posts | limitTo: 10">
        <p class="tumblr">
          <a href="{{image.post_url}}" target="blank"><img src="{{image.photos[0].original_size.url}}" alt="{{image.caption}}" title="{{image.caption}}"></a>
        </p>
      </div>
    </div>
  </div>
  <!-- End Tumblr -->

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Lakers Nation</div>
      <div ng-repeat="story in lakers_nation | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" title="{{story.summary}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Forum Blue And Gold</div>
      <div ng-repeat="story in forum_blue_and_gold | orderBy: '-published' | limitTo: 14">
        <div class="story">
          <a href="{{story.url}}" title="{{story.summary}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Silver Screen and Roll</div>
      <div ng-repeat="story in silver_screen_and_roll | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" title="{{story.summary}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Laker Nation</div>
      <div ng-repeat="story in laker_nation | orderBy: '-published' | limitTo: 12">
        <div class="story">
          <a href="{{story.url}}" title="{{story.summary}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Lakerholicz</div>
      <div ng-repeat="story in lakerholicz | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" title="{{story.summary}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Lake Show Life</div>
      <div ng-repeat="story in lake_show_life | orderBy: '-published' | limitTo: 12">
        <div class="story">
          <a href="{{story.url}}" title="{{story.summary}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">LA Sports Hub</div>
      <div ng-repeat="story in la_sports_hub | orderBy: '-published' | limitTo: 11">
        <div class="story">
          <a href="{{story.url}}" title="{{story.summary}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Fansided</div>
      <div ng-repeat="story in fansided | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" title="{{story.summary}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
  </div>
</div>

