<div class="container-fluid" ng-controller="BruinsHomeCtrl">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="row bruins-headline">
        <%= image_tag("bruins.gif") %> UCLA Bruins
      </div>
      <div class="team-header-sub">
        <a href="http://www.uclabruins.com/">Official Team Site</a> <span class="pipe">|</span>
        Social Feeds:
        <a href="http://instagram.com/uclaathletics"> <i class="fa fa-instagram"></i></a> 
        <a href="http://twitter.com/uclaathletics"> <i class="fa fa-twitter"></i></a>   
        <a href="http://www.facebook.com/uclaathletics"> <i class="fa fa-facebook"></i></a>       
        <a href="http://plus.google.com/111326362717262977554"> <i class="fa fa-google-plus"></i></a>       
        <a href="http://www.youtube.com/channel/UCm3-NocWw8YDQ6lfOb78ehA"> <i class="fa fa-youtube"></i></a>       
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Official Site</div>
      <div ng-repeat="story in official | orderBy: '-published' | limitTo: 11">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">ESPN</div>
      <div ng-repeat="story in espn | orderBy: '-published' | limitTo: 16">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Los Angeles Times</div>
      <div ng-repeat="story in latimes | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Orange County Register</div>
      <div ng-repeat="story in ocregister | orderBy: '-published' | limitTo: 12">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Twitter and Instagram -->
  <div class="row">
    <div class="col-sm-6 col-md-6" ng-controller="BruinsTweetsCtrl" >
      <div class="team-header">
        <i class="fa fa-twitter"></i>
        <a href="http://twitter.com/uclaathletics" target="blank"> Twitter Feed</a>
      </div>
      <div ng-repeat="tweet in tweets |  filter: searchTweet | limitTo: 10">
        <p class="story">
          <a href="http://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}" target="blank">{{tweet.user.screen_name}}: {{tweet.text}}</a>
          <span class="source">({{tweet.created_at | date: 'short'}})</span>
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6" ng-controller="BruinsInstagramCtrl" >
      <div class="team-header">
        <i class="fa fa-instagram"></i>
        <a href="http://instagram.com/uclaathletics" target="blank"> Instagram Feed</a>
      </div>
      <div ng-repeat="image in instagram | limitTo: 12">
        <p class="instagram">
          <a href="{{image.link}}" target="blank"><img ng-src="{{image.images.thumbnail.url}}" alt="{{image.caption.text}}" title="{{image.caption.text}}"></a>
        </p>
      </div>
    </div>
  </div>
  <!-- End Twitter and Instagram -->

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Bleacher Report</div>
      <div ng-repeat="story in bleacher_report | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">FOX Sports</div>
      <div ng-repeat="story in fox_sports | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Inside UCLA</div>
      <div ng-repeat="story in inside_ucla | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Bruins Nation</div>
      <div ng-repeat="story in bruins_nation | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Go Joe Bruin</div>
      <div ng-repeat="story in go_joe_bruin | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Bruin 247</div>
      <div ng-repeat="story in bruin_247 | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Rivals</div>
      <div ng-repeat="story in rivals | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Scout</div>
      <div ng-repeat="story in scout | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
  </div>

  <!-- YouTube -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" ng-controller="BruinsYoutubeCtrl" >
      <div class="team-header">
        <i class="fa fa-youtube"></i> 
        <a href="http://www.youtube.com/channel/UCm3-NocWw8YDQ6lfOb78ehA" target="blank"> YouTube Feed</a>
      </div>
      <div ng-repeat="video in youtube.videos | limitTo: 18">
        <p class="youtube">
          <a href="{{video.player_url}}" target="blank"><img ng-src="{{video.thumbnails[0].url}}" popover="{{video.title | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter"></a>
        </p>
      </div>
    </div>
  </div>
  <!-- End YouTube -->

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Punting Is Winning</div>
      <div ng-repeat="story in punting_is_winning | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
   <!--  <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">FOX Sports</div>
      <div ng-repeat="story in fox_sports | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Inside UCLA</div>
      <div ng-repeat="story in inside_ucla | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Bruins Nation</div>
      <div ng-repeat="story in bruins_nation | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div> -->
  </div>