<div class="container-fluid">
  <div class="row preps-headline">
    Los Angeles High School Sports
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class=" col-sm-5 col-md-5" ng-controller="PrepsCtrl" >
      Search Stories: <input ng-model="searchStory"><br><br>
      <div ng-repeat="story in stories | orderBy:'-published' |filter:searchStory">
        <p class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
        </p>
      </div>
    </div>

    <div class="col-sm-7 col-md-7" ng-controller="PrepsTweetsCtrl" >
      Search Tweets: <input ng-model="searchTweet"><br><br>
      <div ng-repeat="tweet in tweets |  filter: searchTweet">
        <p class="tweet">
          <a href="http://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}" target="blank">{{tweet.user.screen_name}}: {{tweet.text}}</a><br>
          <span class="source">({{tweet.created_at}})</span>
        </p>
      </div>
    </div>
  </div>
</div>