<div class="container" ng-controller="ChivasCtrl" >
  <div class="row">
    <!-- Search Stories: <input ng-model="searchText"> -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div ng-repeat="story in stories | orderBy:'-published' |filter:searchText">
        <p class="story"><a href="{{story.url}}" target="blank">{{story.title}}</a><br>
          <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
        </p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div ng-repeat="tweet in tweets | orderBy:'created_at'">
        <p class="tweet"><a href="http://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}" target="blank">{{tweet.user.screen_name}}: {{tweet.text}}</a><br>
          <span class="tweet-time">({{tweet.created_at}})</span>
        </p>
      </div>
    </div>
  </div>
</div>