<div class="container-fluid">
  <div class="row angels-headline">
    Anaheim Angels
  </div>
</div>

<div class="container-fluid" ng-controller="AngelsHomeCtrl">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Official Site</div>
      <div ng-repeat="story in official | orderBy: '-published' | limitTo: 11">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">ESPN</div>
      <div ng-repeat="story in espn | orderBy: '-published' | limitTo: 14">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Los Angeles Times</div>
      <div ng-repeat="story in latimes | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Orange County Register</div>
      <div ng-repeat="story in ocregister | orderBy: '-published' | limitTo: 12">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Twitter and Instagram -->
  <div class="row">
    <div class="col-sm-6 col-md-6" ng-controller="AngelsTweetsCtrl" >
      <div class="team-header">
        <i class="fa fa-twitter"></i>
        <a href="http://twitter.com/Angels" target="blank"> Twitter Feed</a>
      </div>
      <div ng-repeat="tweet in tweets |  filter: searchTweet | limitTo: 10">
        <p class="story">
          <a href="http://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}" target="blank">{{tweet.user.screen_name}}: {{tweet.text}}</a>
          <span class="source">({{tweet.created_at | date: 'short'}})</span>
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6" ng-controller="AngelsInstagramCtrl" >
      <div class="team-header">
        <i class="fa fa-instagram"></i>
        <a href="http://instagram.com/Angels" target="blank"> Instagram Feed</a>
      </div>
      <div ng-repeat="image in instagram | limitTo: 12">
        <p class="instagram">
          <a href="{{image.link}}" target="blank"><img src="{{image.images.thumbnail.url}}" alt="{{image.caption.text}}" title="{{image.caption.text}}"></a>
        </p>
      </div>
    </div>
  </div>
  <!-- End Twitter and Instagram -->