<div class="container-fluid" ng-controller="AngelsHomeCtrl">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="row angels-headline">
        <%= image_tag("angels.gif") %> Los Angeles Angels of Anaheim
      </div>
      <div class="team-header-sub">
        <a href="http://angels.com">Official Team Site</a> <span class="pipe">|</span>
        <a href="http://angels.com/roster">Team Roster</a> <span class="pipe">|</span>
        <a href="http://losangeles.angels.mlb.com/ana/ballpark/index.jsp">Stadium</a> <span class="pipe">|</span>
        Social Feeds:
        <a href="http://instagram.com/angels"> <i class="fa fa-instagram"></i></a> 
        <a href="http://twitter.com/angels"> <i class="fa fa-twitter"></i></a> 
        <a href="http://angels.tumblr.com"> <i class="fa fa-tumblr"></i></a>      
        <a href="http://plus.google.com/+Angels"> <i class="fa fa-google-plus"></i></a>    
        <a href="http://www.facebook.com/angels"> <i class="fa fa-facebook"></i></a>    
        <a href="http://www.pinterest.com/angelsbaseball/"> <i class="fa fa-pinterest"></i></a>    
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Official Site</div>
      <div ng-repeat="story in official | orderBy: '-published' | limitTo: 11">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">ESPN</div>
      <div ng-repeat="story in espn | orderBy: '-published' | limitTo: 14">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Los Angeles Times</div>
      <div ng-repeat="story in latimes | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Orange County Register</div>
      <div ng-repeat="story in ocregister | orderBy: '-published' | limitTo: 12">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Twitter and Instagram -->
  <div class="row">
    <div class="col-sm-6 col-md-6" ng-controller="AngelsTweetsCtrl" >
      <div class="team-header">
        <i class="fa fa-twitter"></i>
        <a href="http://twitter.com/Angels" target="blank"> Twitter Feed</a>
      </div>
      <div ng-repeat="tweet in tweets |  filter: searchTweet | limitTo: 10">
        <p class="story">
          <a href="http://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}" target="blank">{{tweet.user.screen_name}}: {{tweet.text}}</a>
          <span class="source">({{tweet.created_at | date: 'short'}})</span>
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6" ng-controller="AngelsInstagramCtrl" >
      <div class="team-header">
        <i class="fa fa-instagram"></i>
        <a href="http://instagram.com/Angels" target="blank"> Instagram Feed</a>
      </div>
      <div ng-repeat="image in instagram | limitTo: 12">
        <p class="instagram">
          <a href="{{image.link}}" target="blank"><img ng-src="{{image.images.thumbnail.url}}" alt="{{image.caption.text}}" title="{{image.caption.text}}"></a>
        </p>
      </div>
    </div>
  </div>
  <!-- End Twitter and Instagram -->

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Daily News</div>
      <div ng-repeat="story in dailynews | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">CBS Los Angeles</div>
      <div ng-repeat="story in cbs | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">Bleacher Report</div>
      <div ng-repeat="story in bleacher_report | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="team-header">FOX Sports</div>
      <div ng-repeat="story in fox_sports | orderBy: '-published' | limitTo: 10">
        <div class="story">
          <a href="{{story.url}}" popover="{{story.summary | limitTo: 150}}..." popover-placement="bottom" popover-trigger="mouseenter" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}})</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Tumblr -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" ng-controller="AngelsTumblrCtrl" >
      <div class="team-header">
        <i class="fa fa-tumblr"></i> 
        <a href="http://angels.tumblr.com" target="blank"> Tumblr Feed</a>
      </div>
      <div ng-repeat="image in tumblr.posts | limitTo: 14">
        <p class="tumblr">
          <a href="{{image.post_url}}" target="blank"><img ng-src="{{image.photos[0].original_size.url}}" alt="{{image.caption}}" title="{{image.caption}}"></a>
        </p>
      </div>
    </div>
  </div>
  <!-- End Tumblr -->