<div ng-controller="LakersCtrl">
  <div>
    <ul>
      <li ng-repeat="story in stories">
        <h6><a href="{{story.url}}">{{story.title}}</a></h6>
      </li>
    </ul>
  </div>
</div>

<div ng-controller="ClippersCtrl">
  <div>
    <ul>
      <li ng-repeat="story in stories">
        <h6><a href="{{story.url}}">{{story.title}}</a></h6>
      </li>
    </ul>
  </div>
</div>