<div ng-controller="LakersCtrl">
  <div>
    <ul>
      <li ng-repeat="story in stories | limitTo: 10">
        <h6><a href="{{story.url}}" target="blank">{{story.title}}</a> ({{story.published | date: 'mediumDate'}})</h6>
      </li>
    </ul>
  </div>
</div>