<div class="container">
  <div class="row">
    <div ng-controller="LakersCtrl" class="col-xs-12 col-sm-6 col-md-4">
      <div>
        <p class="team-header">Lakers</p>
        <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
          <p><a href="{{story.url}}" target="blank">{{story.title}}</a><br>
            <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
          </p>
        </div>
      </div>
    </div>

    <div ng-controller="ClippersCtrl" class="col-xs-12 col-sm-6 col-md-4">
      <div>
        <p class="team-header">Clippers</p>
        <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
          <p><a href="{{story.url}}" target="blank">{{story.title}}</a><br>
            <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
          </p>
        </div>
      </div>
    </div>

    <div ng-controller="DodgersCtrl" class="col-xs-12 col-sm-6 col-md-4">
      <div>
        <p class="team-header">Dodgers</p>
        <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
          <p><a href="{{story.url}}" target="blank">{{story.title}}</a><br>
            <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div ng-controller="BruinsCtrl" class="col-xs-12 col-sm-6 col-md-4">
      <div>
        <p class="team-header">UCLA</p>
        <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10 ">
          <p><a href="{{story.url}}" target="blank">{{story.title}}</a><br>
            <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
          </p>
        </div>
      </div>
    </div>

    <div ng-controller="TrojansCtrl" class="col-xs-12 col-sm-6 col-md-4">
      <div>
        <p class="team-header">USC</p>
        <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
          <p><a href="{{story.url}}" target="blank">{{story.title}}</a><br>
            <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
          </p>
        </div>
      </div>
    </div>

    <div ng-controller="KingsCtrl" class="col-xs-12 col-sm-6 col-md-4">
      <div>
        <p class="team-header">Kings</p>
        <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
          <p><a href="{{story.url}}" target="blank">{{story.title}}</a><br>
            <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div ng-controller="GalaxyCtrl" class="col-xs-12 col-sm-6 col-md-4">
      <div>
        <p class="team-header">Galaxy</p>
        <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
          <p><a href="{{story.url}}" target="blank">{{story.title}}</a><br>
            <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
          </p>
        </div>
      </div>
    </div>

    <div ng-controller="ChivasCtrl" class="col-xs-12 col-sm-6 col-md-4">
      <div>
        <p class="team-header">Chivas</p>
        <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
          <p><a href="{{story.url}}" target="blank">{{story.title}}</a><br>
            <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
          </p>
        </div>
      </div>
    </div>

    <div ng-controller="SparksCtrl" class="col-xs-12 col-sm-6 col-md-4">
      <div>
        <p class="team-header">Sparks</p>
        <div ng-repeat="story in stories | orderBy: '-published' | limitTo: 10">
          <p><a href="{{story.url}}" target="blank">{{story.title}}</a><br>
            <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>