<div class="container-fluid">
  <div class="row">
    <div class=" col-sm-5 col-md-5" ng-controller="SparksCtrl" >
      Search Stories: <input ng-model="searchStory"><br><br>
      <div ng-repeat="story in stories | orderBy:'-published' |filter:searchStory">
        <p class="story">
          <a href="{{story.url}}" target="blank">{{story.title}}</a>
          <span class="source">({{story.published | date: 'short'}}, Source: {{story.source}})</span>
        </p>
      </div>
    </div>

    <div class="col-sm-7 col-md-7" ng-controller="SparksTweetsCtrl" >
      Search Tweets: <input ng-model="searchTweet"><br><br>
      <div ng-repeat="tweet in tweets |  filter: searchTweet">
        <p class="tweet">
          <img class="tweet-img" src="{{tweet.user.profile_image_url}}" alt="">
          <a href="http://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}" target="blank">{{tweet.user.screen_name}}: {{tweet.text}}</a><br>
          <span class="source">({{tweet.created_at}})</span>
        </p>
      </div>
    </div>
  </div>
</div>